*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: darkblue;
  padding: 60px;
  margin: 0;
}
input{
  color: gray;
  font-size: 1.rem2;
  width: 100%;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  font-size: 20px;
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card p {
  color: aliceblue;
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 490px;
}
.nombre{
  display: inline-block;
  border-bottom: 25px double rgb(158, 0, 0);
  color: aliceblue;
  margin-left: 400px;
  padding: 0;
  font-size: 100px;
}
.cargando{
  display: inline-block;
  color: aliceblue;
  margin-left: 400px;
  font-size: 70px;
  font-weight: 900;
}
.busqueda{
  color: coral;
  font-size: 30px;
}